<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quiz</title>
    <meta charset="utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0"> <!--allow to be mobile responsive--> 
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src = "https://cdn.tailwindcss.com"></script> <!--tailwind css -->
</head>
<body>
    
    <div id="header" class="px-6 py-6" style="background-color: #A27B56;">

        <h1 class="text-3xl font-bold">Smart</h1>
        <h1 class="text-3xl font-bold">Course</h1>
        <h1 class="text-3xl font-bold">Selector</h1>
    </div>
    
        <div class="bg-[#DCD7C9] h-screen px-6 py-24 flex flex-col items-center justify-start">
            <h1 class="text-3xl font-bold text-center font-josefin-sans mt-6">
                FIND THE PERFECT COURSE FOR YOU
            </h1>
            <p class="mt-6 text-center text-[26px] font-josefin-sans">
                Not sure which course suits you best? Answer a few quick questions, and we'll help you discover the perfect fit based on your interests and strengths!
            </p>
            <a href="#" class="mt-12 bg-[#3F4F44] text-white px-6 py-3 rounded-lg font-josefin-sans text-[26px]">Start Quiz</a>
        </div>
  
    
</body>
</html>